@using KursovaProject.Areas.Admin;
@model ViewModel
@{
    string strTitle = "Панель адміністратора";
    ViewBag.Title = strTitle;
}
<h2 class="center">@strTitle</h2>
<div class="adm-main">
    <div class="div-main">
        <h3 class="center mt0">Каталог</h3>
        <div class="div-box">
            <a asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="">Додати</a>
        </div>
        @if (Model.services.Any())
        {
            <div>
                @foreach (ServiceItem entity in Model.services)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="@entity.Id">Редагувати</a>
                        |
                        <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="ServiceItems" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id">
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Видалити</a>
                        </form>
                        |
                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.Title}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
    <div class="div-main">
        <h3 class="center mt0">Магазини</h3>
        <div class="div-box">
            <a asp-area="Admin" asp-controller="ShopItems" asp-action="Edit" asp-route-id="">Додати</a>
        </div>
        @if (Model.shops.Any())
        {
            <div>
                @foreach (ShopItem entity in Model.shops)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="ShopItems" asp-action="Edit" asp-route-id="@entity.Id">Редагувати</a>
                        |
                        <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="ShopItems" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id">
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Видалити</a>
                        </form>
                        |
                        <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.Title}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
    <div class="div-main">
        <h3 class="center mt0">Категорії</h3>
        <div class="div-box">
            <a asp-area="Admin" asp-controller="CategoryItems" asp-action="Edit" asp-route-id="">Додати</a>
        </div>
        @if (Model.categories.Any())
        {
            <div>
                @foreach (CategoryItem entity in Model.categories)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="CategoryItems" asp-action="Edit" asp-route-id="@entity.Id">Редагувати</a>
                        |
                        <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="CategoryItems" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.Id">
                            <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">Видалити</a>
                        </form>
                        |
                        <a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.Title}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
    <div class="div-box div-main">
        <h3 class="center mt0">Редагування сторінки сайту</h3>
        @*<a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Головна</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Каталог</a>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageCategoryItems">Категорії</a>*@
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Контакти</a>
    </div>
</div>
<div class="div-box">
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
        <input type="submit" value="Вийти" />
    </form>
</div>

