@using KursovaProject.Models;
@model ShopViewModel
@{
    ViewBag.Title = Model.shop.MetaTitle;
    ViewBag.Description = Model.shop.MetaDescription;
    ViewBag.Keywords = Model.shop.MetaKeywords;
}

<div style="margin-bottom: 2em;">
    <h2 style="text-align:center">
        @Model.shop.Title
    </h2>
    <div style="width: 500px; height: 500px; display: flex; justify-content: center; margin: 0 auto;">
        <img class="img-block" src="~/images/@Model.shop.TitleImagePath" style="height: 100%; max-width:100%"/>
    </div>
</div>
<h2 style="text-align:center">Товари в магазині:</h2>
<div>
    @if (Model.services.Any())
    {
        <ul class="big-image-list" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
            @foreach (ServiceItem entity in Model.services)
            {
                @if (entity.ShopItem == Model.shop.Title)
                {
            <li style="margin-bottom: 2em; padding: 0.5em; border: 1px solid rgba(0,0,0,.125); border-radius: 0.25rem;">
                <div style="width: 350px; height: 350px; display: flex; justify-content: center; margin: 0 auto">
                <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                    <img src="~/images/@entity.TitleImagePath" alt="" class="left" style="height: 100%; max-width:100%"/>
                </a>
                </div>
                <h4 style="text-align:center">@entity.Title</h4>
                <p>Категорія: @entity.CategoryItem</p>
                <p>Короткий опис: @entity.Subtitle</p>
                <p>Ціна: @entity.Price грн</p>
            </li>
                    }
                }
        </ul>
    }
</div>