@using KursovaProject.Models;
@model ShopViewModel
@{
    ViewBag.Title = Model.shop.MetaTitle;
    ViewBag.Description = Model.shop.MetaDescription;
    ViewBag.Keywords = Model.shop.MetaKeywords;
    if (Model.shop.URL == null) Model.shop.URL = "Немає";
}

<div class="div-main">
    <h2 class="center">
        @Model.shop.Title
    </h2>
    <div class="div-img">
        <img class="img-block" src="~/images/@Model.shop.TitleImagePath"/>
    </div>
    <h3>@Model.shop.Description</h3>
    <h4>
        Посилання:
        @if (Model.shop.URL != "Немає")
        {<a href="@Model.shop.URL" target="_blank"><u>Сюди</u></a>}
        else
        {<span class="disabled">@Model.shop.URL</span>}
    </h4>
</div>
<h2 class="center">Товари в магазині:</h2>
<div>
    @if (Model.services.Any())
    {
        <ul class="big-image-list flex-ul">
            @foreach (ServiceItem entity in Model.services)
            {
                @if (entity.ShopItem == Model.shop.Title)
                {
             <li class="li-card">
                <div class="div-card">
                <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                    <img src="~/images/@entity.TitleImagePath" alt="" class="left"/>
                </a>
                </div>
                <h4 class="center">@entity.Title</h4>
                <p>Короткий опис: @entity.Subtitle</p>
                <p>Ціна: @entity.Price грн</p>
             </li>
                }
            }
        </ul>
    }
</div>