@model IQueryable<ServiceItem>
<div id="sidebar">

    <section>
        @if (Model?.Any() == true)
        {
            int i = 0;
            <section>
                <header class="major">
                    <h2>Топ-3 товарів</h2>
                </header>
                <ul class="small-image-list">
                    @foreach (ServiceItem entity in Model)
                    {
                        <li>
                            <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                                <img src="~/images/@entity.TitleImagePath" alt="" class="left" style="width: 200px; height:200px;"/>
                            </a>
                            <h4>
                                @entity.Title
                            </h4>
                            <p>
                                Категорія: @entity.Category, Магазин: @entity.Shop, ціна: @entity.Price
                            </p>
                            <p>
                                @entity.Subtitle
                            </p>
                        </li>
                        i++;
                        @if (i == 3) break;
                    }
                </ul>
            </section>
        }
    </section>

</div>