@model IQueryable<ServiceItem>
    <section>
        @if (Model?.Any() == true)
        {
            int i = 0;
            <section>
                <header class="major">
                    <h2 class="center">Новинки</h2>
                </header>
                <ul class="small-image-list">
                    @foreach (ServiceItem entity in Model.OrderByDescending(m => m.DateAdded))
                    {
                     <li class="li-side">
                         <div class="div-side">
                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                            <img src="~/images/@entity.TitleImagePath" alt="" class="left"/>
                        </a>
                         </div>
                        <h4 class="center">
                            @entity.Title
                        </h4>
                        <div class="flex-ul">
                         <p style="margin: 0">Категорія: @entity.CategoryItem</p>
                         <p style="margin: 0">Магазин: @entity.ShopItem</p>
                         <p style="margin: 0">Ціна: @entity.Price грн</p>
                        </div>
                     </li>
                        i++;
                        @if (i == 3) break;
                    }
                </ul>
            </section>
        }
    </section>